<h4>Antes de hacer clic en el botón Comenzar lab</h4>
<p>Lea estas instrucciones. Los labs son cronometrados y no se pueden pausar. El cronómetro, que comienza a funcionar cuando hace clic en <strong>Comenzar lab</strong>, indica por cuánto tiempo tendrá a su disposición los recursos de Google Cloud.</p>
<p>Este lab práctico de Qwiklabs le permitirá llevar a cabo las actividades correspondientes en un entorno de nube real, no en uno de simulación o demostración. Para ello, le proporciona credenciales temporales nuevas que utilizará para acceder a Google Cloud durante todo el lab.</p>
<h4>Qué necesita</h4>
<p>Para completar este lab, necesitará lo siguiente:</p>
<ul>
<li>Acceso a un navegador de Internet estándar (se recomienda el navegador Chrome)</li>
<li>Tiempo para completar el lab</li>
</ul>
<p><strong>Nota:</strong> Si ya tiene un proyecto o una cuenta personal de Google Cloud, no los use para este lab.</p>
<p><strong>Nota:</strong> Si usa un dispositivo con Chrome OS, ejecute este lab en una ventana de incógnito.</p>
