<h4>Avant de cliquer sur le bouton Start Lab (Démarrer l'atelier)</h4>
<p>Lisez ces instructions. Les ateliers sont minutés, et vous ne pouvez pas les mettre en pause. Le minuteur, qui démarre lorsque vous cliquez sur <strong>Start Lab</strong> (Démarrer l'atelier), indique combien de temps les ressources Google Cloud resteront accessibles.</p>
<p>Cet atelier pratique Qwiklabs vous permet de suivre vous-même les activités dans un véritable environnement cloud, et non dans un environnement de simulation ou de démonstration. Des identifiants temporaires vous sont fournis pour vous permettre de vous connecter à Google Cloud le temps de l'atelier.</p>
<h4>Conditions requises</h4>
<p>Pour réaliser cet atelier, vous devez :</p>
<ul>
<li>avoir accès à un navigateur Internet standard (nous vous recommandons d'utiliser Chrome) ;</li>
<li>disposer de suffisamment de temps pour réaliser l'atelier en une fois.</li>
</ul>
<p><strong>Remarque</strong> : Si vous possédez déjà votre propre compte ou projet Google Cloud, veillez à ne pas l'utiliser pour réaliser cet atelier.</p>
<p><strong>Remarque</strong> : Si vous utilisez un appareil Chrome OS, exécutez cet atelier dans une fenêtre de navigation privée.</p>
