<h4>לפני שלוחצים על הלחצן Start Lab (התחלת המעבדה)</h4>
<p>עליכם לקרוא את ההוראות האלו. המעבדות מוגבלות בזמן ואי אפשר להשהות אותן. הטיימר מתחיל כשלוחצים על <strong>Start Lab</strong> ומראה את משך הזמן שבו תוכלו להשתמש במשאבים ב-Google Cloud.</p>
<p>במעבדה המעשית הזו של Qwiklabs, תוכלו לבצע את פעילויות המעבדה בעצמכם בסביבת ענן אמיתית, ולא בהדמיה או בסביבה להדגמה. לשם כך, יינתנו לכם פרטי כניסה זמניים שאיתם תיכנסו ותיגשו אל Google Cloud במשך הפעילות של המעבדה.</p>
<h4>מה צריך?</h4>
<p>כדי להשלים את המעבדה, תצטרכו:</p>
<ul>
<li>גישה לדפדפן אינטרנט סטנדרטי (מומלץ להשתמש בדפדפן Chrome).</li>
<li>זמן להשלמת המעבדה.</li>
</ul>
<p><strong>הערה:</strong> אם כבר יש לכם פרויקט או חשבון Google Cloud אישי משלכם, אין להשתמש בו במעבדה הזו.</p>
<p><strong>הערה:</strong> אם משתמשים במכשיר עם Chrome OS, צריך לפתוח חלון אנונימי כדי להריץ את המעבדה הזו.</p>
