<h4>Sebelum mengklik tombol Start Lab (Mulai Lab)</h4>
<p>Baca petunjuk ini. Lab memiliki timer dan Anda tidak dapat menjedanya. Timer, yang dimulai saat Anda mengklik Start Lab (Mulai Lab), menampilkan lamanya resource Cloud akan tersedia untuk Anda.</p>
<p>Lab praktis Qwiklabs ini memungkinkan Anda melakukan aktivitas lab sendiri di lingkungan cloud nyata, bukan di lingkungan demo atau simulasi. Yaitu dengan cara memberi Anda kredensial sementara yang baru yang digunakan untuk login dan mengakses Google Cloud Platform selama durasi lab.</p>
<h4>Yang diperlukan</h4>
<p>Untuk menyelesaikan lab ini, Anda memerlukan:</p>
<ul>
<li>Akses ke browser internet standar (disarankan browser Chrome).</li>
<li>Waktu untuk menyelesaikan lab.</li>
</ul>
<p><strong><em>Catatan:</em></strong> Jika Anda sudah memiliki project atau akun GCP pribadi, jangan gunakan project atau akun tersebut untuk lab ini.</p>
