<h4>Prima di fare clic sul pulsante Avvia lab</h4>
<p>Leggi le seguenti istruzioni. I lab sono a tempo e non possono essere messi in pausa. Il timer si avvia quando fai clic su <strong>Avvia lab</strong> e ti mostra per quanto tempo avrai a disposizione le risorse Google Cloud.</p>
<p>Con questo lab pratico Qwiklabs avrai la possibilità di completare le attività in prima persona, in un ambiente cloud reale e non di simulazione o demo. Riceverai delle nuove credenziali temporanee che potrai utilizzare per accedere a Google Cloud per la durata del lab.</p>
<p>Per completare il lab, avrai bisogno di:</p>
<ul>
<li>Accesso a un browser Internet standard (Chrome è il browser consigliato).</li>
<ql-warningbox>
<p><strong>Nota</strong>: utilizza una finestra di navigazione in incognito o privata per eseguire questo lab. Ciò previene qualsiasi conflitto tra il tuo account personale e l'account Studente, che potrebbe causare costi aggiuntivi sostenuti per il tuo account personale.</p>
</ql-warningbox>
<li>Tempo a disposizione per completare il lab.</li>
<ql-warningbox>
<p><strong>Nota</strong>: se disponi già del tuo account o progetto Google Cloud personale, non utilizzarlo per questo lab per evitare costi aggiuntivi sul tuo account.</p>
</ql-warningbox>
</ul>
