<h4>[ラボを開始] ボタンをクリックする前に</h4>
<p>こちらの手順をお読みください。ラボの時間は記録されており、一時停止することはできません。[<strong>ラボを開始</strong>] をクリックするとスタートするタイマーは、Google Cloud のリソースを利用できる時間を示しています。</p>
<p>この Qwiklabs ハンズオンラボでは、シミュレーションやデモ環境ではなく、実際のクラウド環境を使ってご自身でラボのアクティビティを行うことができます。そのため、ラボの受講中に Google Cloud にログインおよびアクセスするための、新しい一時的な認証情報が提供されます。</p>
<h4>必要なもの</h4>
<p>このラボを完了するためには、下記が必要です。</p>
<ul>
<li>標準的なインターネット ブラウザ（Chrome を推奨）</li>
<li>ラボを完了するために十分な時間</li>
</ul>
<p><strong>注:</strong> すでに個人の Google Cloud アカウントやプロジェクトをお持ちの場合でも、ラボでは使用しないでください。</p>
<p><strong>注:</strong> Chrome OS デバイスを使用している場合は、シークレット ウィンドウを開いてこのラボを実行してください。</p>
