<h4>실습 시작 버튼을 클릭하기 전에</h4>
<p>다음 안내를 확인하세요. 실습에는 시간 제한이 있으며 일시중지할 수 없습니다. <strong>실습 시작</strong>을 클릭하면 타이머가 시작됩니다. 이 타이머에는 Google Cloud 리소스를 사용할 수 있는 시간이 얼마나 남았는지 표시됩니다.</p>
<p>Qwiklabs 실습을 통해 시뮬레이션이나 데모 환경이 아닌 실제 클라우드 환경에서 직접 실습 활동을 진행할 수 있습니다. 실습 시간 동안 Google Cloud에 로그인하고 액세스하는 데 사용할 수 있는 새로운 임시 사용자 인증 정보가 제공됩니다.</p>
<h4>필요한 사항</h4>
<p>이 실습을 완료하려면 다음을 준비해야 합니다.</p>
<ul>
<li>표준 인터넷 브라우저(Chrome 브라우저 권장)</li>
<li>실습을 끝까지 진행할 시간</li>
</ul>
<p><strong></strong>참고: 이미 개인용 Google Cloud 계정이나 프로젝트가 있어도 이 실습에서는 사용하지 마세요.</p>
<p><strong>참고:</strong> Chrome OS 기기를 사용하는 경우 시크릿 창을 열어 이 실습을 실행하세요.</p>
