<h4>Zanim klikniesz przycisk Start Lab (Rozpocznij moduł)</h4>
<p>Zapoznaj się z tymi instrukcjami. Moduły mają limit czasowy i nie można ich zatrzymać. Po kliknięciu <strong>Start Lab</strong> (Rozpocznij moduł) na liczniku wyświetli się informacja o tym, na jak długo udostępniamy Ci zasoby Google Cloud.</p>
<p>W tym praktycznym module Qwiklabs możesz spróbować swoich sił w wykonywaniu opisywanych działań w prawdziwym środowisku chmury, a nie w jego symulacji lub wersji demonstracyjnej. Otrzymasz nowe, tymczasowe dane logowania, dzięki którym zalogujesz się i uzyskasz dostęp do Google Cloud na czas trwania modułu.</p>
<h4>Wymagania</h4>
<p>Do ukończenia modułu potrzebne będą:</p>
<ul>
<li>dostęp do standardowej przeglądarki internetowej (zalecamy korzystanie z przeglądarki Chrome),</li>
<li>czas wymagany do ukończenia modułu.</li>
</ul>
<p><strong>Uwaga:</strong> jeśli masz już osobiste konto lub projekt w Google Cloud, nie używaj go w tym module.</p>
<p><strong>Uwaga:</strong> jeśli używasz Pixelbooka, uruchom ten moduł w oknie incognito.</p>
