<h4>Antes de clicar no botão Start Lab</h4>
<p>Leia estas instruções. Os laboratórios são cronometrados e não podem ser pausados. O timer é iniciado quando você clica em <strong>Começar o laboratório</strong> e mostra por quanto tempo os recursos do Google Cloud ficarão disponíveis.</p>
<p>Este laboratório prático do Qwiklabs permite que você realize as atividades em um ambiente real de nuvem, não em uma simulação ou demonstração. Você receberá novas credenciais temporárias para fazer login e acessar o Google Cloud durante o laboratório.</p>
<h4>O que é necessário</h4>
<p>Para fazer este laboratório, você precisa ter:</p>
<ul>
<li>acesso a um navegador de Internet padrão (recomendamos o Chrome);</li>
<li>tempo para concluir as atividades.</li>
</ul>
<p><strong>Observação</strong>: não use seu projeto ou sua conta do Google Cloud neste laboratório.</p>
<p><strong>Observação</strong>: se estiver usando um dispositivo Chrome OS, abra uma janela anônima para executar o laboratório.</p>
