<h3>Перш ніж натиснути кнопку Start Lab (Почати практичну роботу)</h3>
<p>Ознайомтеся з наведеними нижче вказівками. На виконання практичної роботи відводиться обмежений час, і її не можна призупинити. Щойно ви натиснете <strong>Start Lab (Почати практичну роботу)</strong>, з’явиться таймер, який показуватиме, скільки часу для роботи з ресурсами Google Cloud у вас залишилося.</p>
<p>Ви зможете виконати практичну роботу в дійсному робочому хмарному середовищі (не в симуляції або демонстраційному середовищі). Для цього на час виконання практичної роботи вам надаються тимчасові облікові дані для реєстрації та входу в Google Cloud.</p>
<p>Щоб виконати цю практичну роботу, потрібно мати:</p>
<ul>
<li>стандартний веб-переглядач, наприклад Chrome (рекомендовано)</li>
</ul>
<ql-warningbox>
<strong>Примітка.</strong> Виконуйте практичну роботу в режимі анонімного перегляду. Так ви уникнете додаткової плати, що може стягуватися з вашого особистого облікового запису внаслідок його конфліктів з обліковим записом для навчання.
</ql-warningbox>
<ul>
<li>достатню кількість часу, оскільки почавши практичну роботу, ви не зможете призупинити її</li>
</ul>
<ql-warningbox>
<strong>Примітка.</strong> Якщо ви маєте особистий обліковий запис або проект Google Cloud, не використовуйте їх для доступу до цієї практичної роботи. Так ви уникнете додаткових стягнень з вашого облікового запису.
</ql-warningbox>
