<h3>點選「Start Lab」(開始研究室) 按鈕前的須知事項</h3>
<p>請詳閱以下操作說明。研究室活動會計時，而且中途無法暫停。點選「Start Lab」(開始研究室)<strong></strong> 後就會開始計時，讓您瞭解有多少時間可以使用 Google Cloud 資源。</p>
<p>您將在真正的雲端環境中完成實作研究室活動，而不是在模擬或示範環境。為達此目的，我們會提供新的暫時憑證，讓您用來在研究室活動期間登入及存取 Google Cloud。</p>
<p>如要完成這個研究室活動，請先確認：</p>
<ul>
<li>您可以使用標準的網際網路瀏覽器 (Chrome 瀏覽器為佳)。</li>
</ul>
<ql-warningbox>
<strong>注意：</strong>請使用無痕模式或私密瀏覽視窗執行此研究室。這可以防止個人帳戶和學生帳戶之間發生任何衝突，避免個人帳戶產生額外費用。</ql-warningbox>
<ul>
<li>是時候完成研究室活動了！別忘了，活動一開始將無法暫停。</li>
</ul>
<ql-warningbox>
<strong>注意：</strong>如果您已有個人 Google Cloud 帳戶或專案，請勿將其用於本研究室，以免您的帳戶產生額外費用。</ql-warningbox>
