APP_NAME="adk_agent_app"
GOOGLE_CLOUD_PROJECT=""
AGENT_ENGINE_LOCATION="us-central1"
MODEL_LOCATION="global"
SESSION_SERVICE_PROVIDER="in_memory"
MEMORY_SERVICE_PROVIDER="in_memory"
REASONING_ENGINE_APP_NAME=""
DATABASE_URL=postgresql+asyncpg://adk:This_is_the_adk_password!@localhost:5432/adk_sessions
EXAMPLE_STORE_NAME=""

GOOGLE_GENAI_USE_VERTEXAI=TRUE
MODEL=gemini-2.5-flash-lite