GOOGLE_CLOUD_PROJECT=<YOUR_PROJECT_ID>
GOOGLE_CLOUD_LOCATION=us-central1
GOOGLE_GENAI_USE_VERTEXAI=True
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=True
DATA_AGENT_URL=https://<DATA_AGENT_SERVICE>-<YOUR_PROJECT_NUMBER>.us-central1.run.app
INTERVENTION_AGENT_URL=https://<INTERVENTION_AGENT_SERVICE>-<YOUR_PROJECT_NUMBER>.us-central1.run.app
