google-cloud-aiplatform==1.139.0
google-adk[a2a]==1.28.1
google-auth==2.48.0
google-genai==1.65.0
python-dotenv==1.2.1
opentelemetry-exporter-gcp-trace==1.11.0
opentelemetry-sdk==1.38.0
opentelemetry-exporter-gcp-logging==1.11.0a0
jinja2==3.1.2
weasyprint==68.1
tinyhtml5==2.0.0
httpx>=0.27
