<h3>Cómo iniciar su lab y acceder a la consola de Google Cloud</h3>
<ol>
<li>
<p>Haga clic en el botón <strong>Comenzar lab</strong>. Si debe pagar por el lab, se abrirá una ventana emergente para que seleccione su forma de pago.
A la izquierda, se encuentra el panel <strong>Detalles del lab</strong> que tiene estos elementos:</p>
<ul>
<li>El botón <strong>Abrir la consola de Google</strong></li>
<li>Tiempo restante</li>
<li>Las credenciales temporales que debe usar para el lab</li>
<li>Otra información para completar el lab, si es necesaria</li>
</ul>
</li>
<li>
<p>Haga clic en <strong>Abrir la consola de Google</strong>.
El lab inicia recursos y abre otra pestaña en la que se muestra la página de <strong>acceso</strong>.</p>
<p><strong><em>Sugerencia:</em></strong> Ordene las pestañas en ventanas separadas, una junto a la otra.</p>
 <ql-infobox>
 <strong>Nota: </strong>Si ve el diálogo <strong>Elegir una cuenta</strong>, haga clic en <strong>Usar otra cuenta</strong>.        
 </ql-infobox>
</li>
<li>
<p>Si es necesario, copie el <strong>nombre de usuario</strong> del panel <strong>Detalles del lab</strong> y péguelo en el cuadro de diálogo <strong>Acceder</strong>. Haga clic en <strong>Siguiente</strong>.</p>
</li>
<li>
<p>Copie la <strong>contraseña</strong> del panel <strong>Detalles del lab</strong> y péguela en el cuadro de diálogo de <strong>bienvenida</strong>. Haga clic en <strong>Siguiente</strong>.</p>
 <ql-infobox> 
 <strong>Importante: </strong>Debe usar las credenciales del panel de la izquierda. No use sus credenciales de Google Cloud Skills Boost. 
 </ql-infobox>
 <ql-warningbox>
 <strong>Nota: </strong>Usar su propia Cuenta de Google podría generar cargos adicionales.
 </ql-warningbox>
</li>
<li>
<p>Haga clic para avanzar por las páginas siguientes:</p>
<ul>
<li>Acepte los términos y condiciones.</li>
<li>No agregue opciones de recuperación o autenticación de dos factores (esta es una cuenta temporal).</li>
<li>No se registre para obtener pruebas gratuitas.</li>
</ul>
</li>
</ol>
<p>Después de un momento, se abrirá la consola de Cloud en esta pestaña.</p>
<ql-infobox>
<strong>Nota:</strong> Para ver el menú con una lista de los productos y servicios de Google Cloud, haga clic en el <strong>Menú de navegación</strong> que se encuentra en la parte superior izquierda de la pantalla.
<img src="img/console_topbar_menu.png" alt="Ícono del menú de navegación">
</ql-infobox>
