<h3>Démarrer l'atelier et se connecter à la console Google Cloud</h3>
<ol>
<li>
<p>Cliquez sur le bouton <strong>Démarrer l'atelier</strong>. Si l'atelier est payant, un pop-up s'affiche pour vous permettre de sélectionner un mode de paiement.
Sur la gauche, vous trouverez le panneau <strong>Détails concernant l'atelier</strong>, qui contient les éléments suivants :</p>
<ul>
<li>Le bouton <strong>Ouvrir la console Google</strong></li>
<li>Le temps restant</li>
<li>Les identifiants temporaires que vous devez utiliser pour cet atelier</li>
<li>Des informations complémentaires vous permettant d'effectuer l'atelier</li>
</ul>
</li>
<li>
<p>Cliquez sur <strong>Ouvrir la console Google</strong>.
L'atelier lance les ressources, puis ouvre la page <strong>Se connecter</strong> dans un nouvel onglet.</p>
<p><strong><em>Conseil</em></strong> : Réorganisez les onglets dans des fenêtres distinctes, placées côte à côte.</p>
 <ql-infobox>
 <strong>Remarque</strong> : Si la boîte de dialogue <strong>Sélectionner un compte</strong> s'affiche, cliquez sur <strong>Utiliser un autre compte</strong>.        
 </ql-infobox>
</li>
<li>
<p>Si nécessaire, copiez le <strong>nom d'utilisateur</strong> inclus dans le panneau <strong>Détails concernant l'atelier</strong> et collez-le dans la boîte de dialogue <strong>Se connecter</strong>. Cliquez sur <strong>Suivant</strong>.</p>
</li>
<li>
<p>Copiez le <strong>mot de passe</strong> inclus dans le panneau <strong>Détails concernant l'atelier</strong> et collez-le dans la boîte de dialogue de <strong>bienvenue</strong>. Cliquez sur <strong>Suivant</strong>.</p>
 <ql-infobox> 
 <strong>Important</strong> : Vous devez utiliser les identifiants fournis dans le panneau de gauche. Ne saisissez pas vos identifiants Google Cloud Skills Boost. 
 </ql-infobox>
 <ql-warningbox>
 <strong>Remarque</strong> : Si vous utilisez votre propre compte Google Cloud pour cet atelier, des frais supplémentaires peuvent vous être facturés.
 </ql-warningbox>
</li>
<li>
<p>Accédez aux pages suivantes :</p>
<ul>
<li>Acceptez les conditions d'utilisation.</li>
<li>N'ajoutez pas d'options de récupération ni d'authentification à deux facteurs (ce compte est temporaire).</li>
<li>Ne vous inscrivez pas aux essais offerts.</li>
</ul>
</li>
</ol>
<p>Après quelques instants, la console Cloud s'ouvre dans cet onglet.</p>
<ql-infobox>
<strong>Remarque</strong> : Vous pouvez afficher le menu qui contient la liste des produits et services Google Cloud en cliquant sur le <strong>menu de navigation</strong> en haut à gauche.
<img src="img/console_topbar_menu.png" alt="Icône du menu de navigation">
</ql-infobox>
