<h4>איך מתחילים שיעור מעשי ונכנסים אל Google Cloud Console</h4>
<ol>
<li>
<p>לוחצים על הלחצן <strong>Start Lab</strong> (התחלת השיעור המעשי). אם זה שיעור בתשלום, יקפוץ חלון שבו בוחרים אמצעי תשלום.
מימין יש חלונית עם פרטי כניסה זמניים שמולאו מראש. צריך להשתמש בפרטים האלו בשיעור המעשי הזה.</p>
<p><img src="img/Open_Google_Console.png" alt="פתיחת Google Console" /></p>
</li>
<li>
<p>מעתיקים את שם המשתמש ואז לוחצים על <strong>Open Google Console</strong> (פתיחת Google Console).
יופעלו משאבים במעבדה, ואז ייפתח הדף <strong>Sign in</strong> (כניסה) בכרטיסייה נפרדת.</p>
<p><img src="img/SignInPage.png" alt="כניסה" /></p>
<p><strong><em>טיפ:</em></strong> כדאי לפתוח את הכרטיסיות בחלונות נפרדים, אחד לצד השני.</p>
<aside>
 אם מופיע הדף <strong>בחירת חשבון</strong>, לוחצים על <strong>שימוש בחשבון אחר</strong>.<br />

 <img src="img/UseAnotherAcctEmail.png" alt="בחירת חשבון" />


</aside>
</li>
<li>
<p>בדף <strong>Sign in</strong> (כניסה), מדביקים את שם המשתמש שהעתקתם מהחלונית Connection Details (פרטי התחברות). אחר כך מעתיקים ומדביקים את הסיסמה.</p>
<p><strong><em>חשוב:</em></strong> צריך להשתמש בפרטי הכניסה מהחלונית Connection Details. אין להשתמש בפרטי הכניסה של Qwiklabs. אם יש לכם חשבון Google Cloud משלכם, אל תשתמשו בו בשיעור המעשי הזה (כך תימנעו מחיוב בתשלום).</p>
</li>
<li>
<p>לוחצים כדי לעבור את הדפים הבאים:</p>
<ul>
<li>הסכמה לתנאים ולהגבלות.</li>
<li>אין להוסיף אפשרויות שחזור או אימות דו-שלבי (כי החשבון הזה זמני).</li>
<li>אין להירשם לתקופות ניסיון בחינם.</li>
</ul>
</li>
</ol>
<p>לאחר כמה דקות, Cloud Console ייפתח בכרטיסייה הזו.</p>
<aside>
<strong>הערה:</strong> תוכלו לראות תפריט עם רשימת השירותים והמוצרים של Google Cloud בלחיצה על <strong>תפריט הניווט</strong> בפינה הימנית העליונה.
<img src="img/console_topbar_menu.png" alt="תפריט Cloud Console" />

</aside>
