<h3>Cara memulai lab dan login ke Google Cloud Console</h3>
<ol>
<li>
<p>Klik tombol <strong>Start Lab</strong>. Jika Anda perlu membayar lab, jendela pop-up akan terbuka untuk memilih metode pembayaran.
Di sebelah kiri adalah panel <strong>Lab Details</strong> dengan berikut ini:</p>
<ul>
<li>Tombol <strong>Open Google Console</strong></li>
<li>Waktu tersisa</li>
<li>Kredensial sementara yang harus Anda gunakan untuk lab ini</li>
<li>Informasi lain, jika diperlukan, untuk menyelesaikan lab ini</li>
</ul>
</li>
<li>
<p>Klik <strong>Open Google Console</strong>.
Lab akan menjalankan resource, lalu membuka tab lain yang menampilkan halaman <strong>Login</strong>.</p>
<p><strong><em>Tips:</em></strong> Atur tab di jendela terpisah secara berdampingan.</p>
 <ql-infobox>
 <strong>Catatan: </strong>Jika Anda melihat dialog <strong>Choose an account</strong>, klik <strong>Use Another Account</strong>.        
 </ql-infobox>
</li>
<li>
<p>Jika perlu, salin <strong>Username</strong> dari panel <strong>Lab Details</strong> dan tempel ke dialog <strong>Sign in</strong>. Klik <strong>Next</strong>.</p>
</li>
<li>
<p>Salin <strong>Password</strong> dari panel <strong>Lab Details</strong> dan tempel ke dialog <strong>Welcome</strong>. Klik <strong>Next</strong>.</p>
 <ql-infobox> 
 <strong>Penting: </strong>Anda harus menggunakan kredensial dari panel sebelah kiri. Jangan menggunakan kredensial Google Cloud Skills Boost. 
 </ql-infobox>
 <ql-warningbox>
 <strong>Catatan: </strong>Menggunakan akun Google Cloud sendiri untuk lab ini dapat dikenai biaya tambahan.
 </ql-warningbox>
</li>
<li>
<p>Klik halaman berikutnya:</p>
<ul>
<li>Setujui persyaratan dan ketentuan.</li>
<li>Jangan tambahkan opsi pemulihan atau autentikasi 2 langkah (karena ini akun sementara).</li>
<li>Jangan daftar uji coba gratis.</li>
</ul>
</li>
</ol>
<p>Setelah beberapa saat, Cloud Console akan terbuka di tab ini.</p>
<ql-infobox>
<strong>Catatan:</strong> Anda dapat melihat menu dengan daftar Produk dan Layanan Google Cloud dengan mengklik <strong>Menu navigasi</strong> di kiri atas.
<img src="img/console_topbar_menu.png" alt="Ikon menu navigasi">
</ql-infobox>
