<h3>Come avviare il lab e accedere alla console Google Cloud</h3>
<ol>
<li>
<p>Fai clic sul pulsante <strong>Avvia lab</strong>. Se devi effettuare il pagamento per il lab, si apre una finestra popup per permetterti di selezionare il metodo di pagamento.
A sinistra, trovi il riquadro <strong>Dettagli lab</strong> con le seguenti informazioni:</p>
<ul>
<li>Pulsante <strong>Apri console Google</strong></li>
<li>Tempo rimanente</li>
<li>Credenziali temporanee da utilizzare per il lab</li>
<li>Altre informazioni per seguire questo lab, se necessario</li>
</ul>
</li>
<li>
<p>Fai clic su <strong>Apri console Google</strong>.
Il lab avvia le risorse e apre un'altra scheda con la pagina di <strong>accesso</strong>.</p>
<p><strong><em>Suggerimento</em></strong>: disponi le schede in finestre separate posizionate fianco a fianco.</p>
 <ql-infobox>
 <strong>Note</strong>: se visualizzi la finestra di dialogo <strong>Scegli un account</strong>, fai clic su <strong>Utilizza un altro account</strong>.        
 </ql-infobox>
</li>
<li>
<p>Se necessario, copia il <strong>Nome utente</strong> dal riquadro <strong>Dettagli lab</strong> e incollalo nella finestra di dialogo di <strong>accesso</strong>. Fai clic su <strong>Avanti</strong>.</p>
</li>
<li>
<p>Copia la <strong>Password</strong> dal riquadro <strong>Dettagli lab</strong> e incollala nella finestra di dialogo di <strong>benvenuto</strong>. Fai clic su <strong>Avanti</strong>.</p>
 <ql-infobox> 
 <strong>Importante</strong>: devi utilizzare le credenziali presenti nel riquadro di sinistra. Non utilizzare le tue credenziali Google Cloud Skills Boost. 
 </ql-infobox>
 <ql-warningbox>
 <strong>Nota</strong>: utilizzare il tuo account Google Cloud per questo lab potrebbe comportare addebiti aggiuntivi.
 </ql-warningbox>
</li>
<li>
<p>Fai clic nelle pagine successive:</p>
<ul>
<li>Accetta i termini e le condizioni.</li>
<li>Non inserire opzioni di recupero o l'autenticazione a due fattori, perché si tratta di un account temporaneo.</li>
<li>Non registrarti per le prove gratuite.</li>
</ul>
</li>
</ol>
<p>Dopo qualche istante, la console Google Cloud si apre in questa scheda.</p>
<ql-infobox>
<strong>Nota</strong>: puoi visualizzare il menu con un elenco di prodotti e servizi Google Cloud facendo clic sul <strong>menu di navigazione</strong> in alto a sinistra.
<img src="img/console_topbar_menu.png" alt="Icona menu di navigazione">
</ql-infobox>
