<h3>איך מתחילים שיעור Lab ונכנסים למסוף Google Cloud</h3>
<ol>
<li>
<p>לוחצים על הלחצן <strong>Start Lab</strong>. אם אתם נדרשים לשלם על שיעור ה-Lab, תיפתח הודעה קופצת ותוכלו לבחור את אמצעי התשלום.
משמאל נמצאת החלונית <strong>Lab Details</strong>. היא מכילה את הדברים הבאים:</p>
<ul>
<li>הלחצן <strong>Open Google Console</strong></li>
<li>משך הזמן שנותר</li>
<li>פרטי כניסה זמניים לשימוש בשיעור ה-Lab הזה</li>
<li>מידע אחר, אם נדרש, שיעזור לעבור את שיעור ה-Lab</li>
</ul>
</li>
<li>
<p>לוחצים על <strong>Open Google Console</strong>.
תתחיל הרצה של משאבים בשיעור ה-Lab, ואז ייפתח הדף <strong>Sign in</strong> בכרטיסייה נפרדת.</p>
<p><strong><em>טיפ</em></strong> כדאי לסדר את הכרטיסיות בחלונות נפרדים, זה לצד זה.</p>
 <ql-infobox>
 <strong>הערה:</strong> אם רואים את תיבת הדו-שיח <strong>Choose an account</strong>, לוחצים על <strong>Use Another Account</strong>.        
 </ql-infobox>
</li>
<li>
<p>אם צריך, מעתיקים את שם המשתמש מהשדה <strong>Username</strong> בחלונית <strong>Lab Details</strong> ומדביקים אותו בתיבת הדו-שיח <strong>Sign in</strong>. לוחצים על <strong>Next</strong>.</p>
</li>
<li>
<p>אם צריך, מעתיקים את הסיסמה מהשדה <strong>Password</strong> בחלונית <strong>Lab Details</strong> ומדביקים אותה בתיבת הדו-שיח <strong>Welcome</strong>. לוחצים על <strong>Next</strong>.</p>
 <ql-infobox> 
 <strong>חשוב לדעת: </strong>עליכם להשתמש בפרטי הכניסה מהחלונית שמשמאל. אין להשתמש בפרטי הכניסה שלכם ל-Google Cloud Skills Boost. 
 </ql-infobox>
 <ql-warningbox>
 <strong>שימו לב:</strong> אם תשתמשו בחשבון שלכם ל-Google Cloud בשיעור ה-Lab הזה, יכול להיות שנחייב אתכם בתשלום.
 </ql-warningbox>
</li>
<li>
<p>לוחצים כדי לעבור על הדפים הבאים:</p>
<ul>
<li>מסכימים לתנאים ולהגבלות.</li>
<li>אין להוסיף אפשרויות שחזור או אימות דו-שלבי (כי החשבון הזה זמני).</li>
<li>אין להירשם לתקופות ניסיון בחינם.</li>
</ul>
</li>
</ol>
<p>אחרי כמה דקות מסוף Cloud ייפתח בכרטיסייה הזו.</p>
<ql-infobox>
<strong>הערה:</strong> תוכלו לראות תפריט עם רשימת השירותים והמוצרים של Google Cloud בלחיצה על <strong>תפריט הניווט</strong> בפינה השמאלית העליונה.
<img src="img/console_topbar_menu.png" alt="סמל של תפריט הניווט">
</ql-infobox>
