<h3>ラボを開始して Google Cloud コンソールにログインする方法</h3>
<ol>
<li>
<p>[<strong>ラボを開始</strong>] ボタンをクリックします。ラボの料金をお支払いいただく必要がある場合は、表示されるポップアップでお支払い方法を選択してください。
左側の [<strong>ラボの詳細</strong>] パネルには、以下が表示されます。</p>
<ul>
<li>[<strong>Google コンソールを開く</strong>] ボタン</li>
<li>残り時間</li>
<li>このラボで使用する必要がある一時的な認証情報</li>
<li>このラボを行うために必要なその他の情報（ある場合）</li>
</ul>
</li>
<li>
<p>[<strong>Google コンソールを開く</strong>] をクリックします。
ラボでリソースが起動し、別のタブで [<strong>ログイン</strong>] ページが表示されます。</p>
<p><strong>ヒント:</strong> タブをそれぞれ別のウィンドウで開き、並べて表示しておきましょう。<em></em></p>
 <ql-infobox>
 <strong>注: </strong>[<strong>アカウントの選択</strong>] ダイアログが表示されたら、[<strong>別のアカウントを使用</strong>] をクリックします。</ql-infobox>
</li>
<li>
<p>必要に応じて、[<strong>ラボの詳細</strong>] パネルから [<strong>ユーザー名</strong>] をコピーして [<strong>ログイン</strong>] ダイアログに貼り付けます。[<strong>次へ</strong>] をクリックします。</p>
</li>
<li>
<p>[<strong>ラボの詳細</strong>] パネルから [<strong>パスワード</strong>] をコピーして [<strong>ようこそ</strong>] ダイアログに貼り付けます。[<strong>次へ</strong>] をクリックします。</p>
 <ql-infobox> 
 <strong>重要: </strong>認証情報は左側のパネルに表示されたものを使用してください。Google Cloud Skills Boost の認証情報は使用しないでください。
 </ql-infobox>
 <ql-warningbox>
 <strong>注: </strong>このラボでご自身の Google Cloud アカウントを使用すると、追加料金が発生する場合があります。
 </ql-warningbox>
</li>
<li>
<p>その後次のように進みます。</p>
<ul>
<li>利用規約に同意してください。</li>
<li>一時的なアカウントなので、復元オプションや 2 要素認証プロセスは設定しないでください。</li>
<li>無料トライアルには登録しないでください。</li>
</ul>
</li>
</ol>
<p>その後このタブで Cloud Console が開きます。</p>
<ql-infobox>
<strong>注:</strong> 左上にある [<strong>ナビゲーション メニュー</strong>] をクリックすると、Google Cloud のプロダクトやサービスのリストが含まれるメニューが表示されます。
<img src="img/console_topbar_menu.png" alt="ナビゲーション メニュー アイコン">
</ql-infobox>
