<h3>실습을 시작하고 Google Cloud 콘솔에 로그인하는 방법</h3>
<ol>
<li>
<p><strong>실습 시작</strong> 버튼을 클릭합니다. 실습 비용을 결제해야 하는 경우 결제 수단을 선택할 수 있는 팝업이 열립니다.
왼쪽에는 다음과 같은 항목이 포함된 <strong>실습 세부정보</strong> 패널이 있습니다.</p>
<ul>
<li><strong>Google 콘솔 열기</strong> 버튼</li>
<li>남은 시간</li>
<li>이 실습에 사용해야 하는 임시 사용자 인증 정보</li>
<li>필요한 경우 실습 진행을 위한 기타 정보</li>
</ul>
</li>
<li>
<p><strong>Google 콘솔 열기</strong>를 클릭합니다.
실습에서 리소스가 가동된 후 <strong>로그인</strong> 페이지가 표시된 다른 탭이 열립니다.</p>
<p><strong><em>팁:</em></strong> 두 개의 탭을 각각 별도의 창으로 나란히 정렬하세요.</p>
 <ql-infobox>
 <strong>참고: </strong><strong>계정 선택</strong> 대화상자가 표시되면 <strong>다른 계정 사용</strong>을 클릭합니다.        
 </ql-infobox>
</li>
<li>
<p>필요한 경우 <strong>실습 세부정보</strong> 패널에서 <strong>사용자 이름</strong>을 복사하여 <strong>로그인</strong> 대화상자에 붙여넣습니다. <strong>다음</strong>을 클릭합니다.</p>
</li>
<li>
<p><strong>실습 세부정보</strong> 패널에서 <strong>비밀번호</strong>를 복사하여 <strong>시작</strong> 대화상자에 붙여넣습니다. <strong>다음</strong>을 클릭합니다.</p>
 <ql-infobox> 
 <strong>중요: </strong>왼쪽 패널에 표시된 사용자 인증 정보를 사용해야 합니다. Google Cloud Skills Boost 사용자 인증 정보를 사용하지 마세요. 
 </ql-infobox>
 <ql-warningbox>
 <strong>참고: </strong>이 실습에 자신의 Google Cloud 계정을 사용하면 추가 요금이 발생할 수 있습니다.
 </ql-warningbox>
</li>
<li>
<p>이후에 표시되는 페이지를 클릭하여 넘깁니다.</p>
<ul>
<li>이용약관에 동의합니다.</li>
<li>임시 계정이므로 복구 옵션이나 2단계 인증을 추가하지 않습니다.</li>
<li>무료 평가판을 신청하지 않습니다.</li>
</ul>
</li>
</ol>
<p>잠시 후 Cloud 콘솔이 이 탭에서 열립니다.</p>
<ql-infobox>
<strong>참고:</strong> 왼쪽 상단에 있는 <strong>탐색 메뉴</strong>를 클릭하면 Google Cloud 제품 및 서비스 목록이 있는 메뉴를 볼 수 있습니다.
<img src="img/console_topbar_menu.png" alt="탐색 메뉴 아이콘">
</ql-infobox>
