<h3>Rozpoczynanie modułu i logowanie się w konsoli Google Cloud</h3>
<ol>
<li>
<p>Kliknij przycisk <strong>Rozpocznij moduł</strong>. Jeśli moduł jest odpłatny, otworzy się wyskakujące okienko, w którym możesz wybrać formę płatności.
Po lewej stronie znajduje się panel <strong>Szczegóły modułu</strong> z następującymi elementami:</p>
<ul>
<li>przyciskiem <strong>Otwórz konsolę Google</strong>;</li>
<li>czasem, który Ci pozostał;</li>
<li>tymczasowymi danymi logowania, których musisz użyć w tym module;</li>
<li>innymi informacjami potrzebnymi do ukończenia modułu.</li>
</ul>
</li>
<li>
<p>Kliknij <strong>Otwórz konsolę Google</strong>.
Moduł uruchomi zasoby, po czym otworzy nową kartę ze <strong>stroną logowania</strong>.</p>
<p><strong><em>Wskazówka:</em></strong> otwórz karty obok siebie w osobnych oknach.</p>
 <ql-infobox>
<strong>Uwaga:</strong> jeśli pojawi się okno <strong>Wybierz konto</strong>, kliknij <strong>Użyj innego konta</strong>.        
 </ql-infobox>
</li>
<li>
<p>W razie potrzeby skopiuj <strong>nazwę użytkownika</strong> z panelu <strong>Szczegóły modułu</strong> i wklej ją w <strong>oknie logowania</strong>. Kliknij <strong>Dalej</strong>.</p>
</li>
<li>
<p>Skopiuj <strong>hasło</strong> z panelu <strong>Szczegóły modułu</strong> i wklej je w <strong>oknie powitania</strong>. Kliknij <strong>Dalej</strong>.</p>
 <ql-infobox>
<strong>Ważne:</strong> musisz użyć danych logowania z panelu po lewej stronie, a nie danych logowania Google Cloud Skills Boost. 
 </ql-infobox>
 <ql-warningbox>
 <strong>Uwaga:</strong> korzystanie z własnego konta Google Cloud w tym module może wiązać się z dodatkowymi opłatami.
 </ql-warningbox>
</li>
<li>
<p>Na kolejnych stronach wykonaj następujące czynności:</p>
<ul>
<li>Zaakceptuj Warunki korzystania z usługi.</li>
<li>Nie dodawaj opcji odzyskiwania ani uwierzytelniania dwuskładnikowego (ponieważ konto ma charakter tymczasowy).</li>
<li>Nie rejestruj się w bezpłatnych wersjach próbnych.</li>
</ul>
</li>
</ol>
<p>Poczekaj, aż na karcie otworzy się konsola Google Cloud.</p>
<ql-infobox>
<strong>Uwaga:</strong> aby wyświetlić menu z listą produktów i usług Google Cloud Console, w lewym górnym rogu kliknij <strong>menu nawigacyjne</strong>.
<img src="img/console_topbar_menu.png" alt="Ikona menu nawigacyjnego">
</ql-infobox>
