<h3>Como iniciar seu laboratório e fazer login no console do Google Cloud</h3>
<ol>
<li>
<p>Clique no botão <strong>Começar o laboratório</strong>. Se for preciso pagar, você verá um pop-up para selecionar a forma de pagamento.
No painel <strong>Detalhes do laboratório</strong> à esquerda, você verá o seguinte:</p>
<ul>
<li>O botão <strong>Abrir Console do Cloud</strong></li>
<li>Tempo restante</li>
<li>As credenciais temporárias que você vai usar neste laboratório</li>
<li>Outras informações se forem necessárias</li>
</ul>
</li>
<li>
<p>Clique em <strong>Abrir Console do Google</strong>.
O laboratório ativa recursos e depois abre outra guia com a página <strong>Fazer login</strong>.</p>
<p><strong><em>Dica</em></strong>: coloque as guias em janelas separadas lado a lado.</p>
 <ql-infobox>
 <strong>Observação</strong>: se aparecer a caixa de diálogo <strong>Escolher uma conta</strong>, clique em <strong>Usar outra conta</strong>.        
 </ql-infobox>
</li>
<li>
<p>Caso seja preciso, copie o <strong>Nome de usuário</strong> no painel <strong>Detalhes do laboratório</strong> e cole esse nome na caixa de diálogo <strong>Fazer login</strong>. Clique em <strong>Avançar</strong>.</p>
</li>
<li>
<p>Copie a <strong>Senha</strong> no painel <strong>Detalhes do laboratório</strong> e a cole na caixa de diálogo <strong>Olá</strong>. Clique em <strong>Avançar</strong>.</p>
 <ql-infobox>
 <strong>Importante</strong>: você precisa usar as credenciais do painel à esquerda. Não use suas credenciais do Google Cloud Ensina. 
 </ql-infobox>
 <ql-warningbox>
 <strong>Observação</strong>: se você usar sua própria conta do Google Cloud neste laboratório, é possível que receba cobranças adicionais.
 </ql-warningbox>
</li>
<li>
<p>Acesse as próximas páginas:</p>
<ul>
<li>Aceite os Termos e Condições.</li>
<li>Não adicione opções de recuperação nem autenticação de dois fatores (porque essa é uma conta temporária).</li>
<li>Não se inscreva em testes gratuitos.</li>
</ul>
</li>
</ol>
<p>Depois de alguns instantes, o console do GCP vai ser aberto nesta guia.</p>
<ql-infobox>
<strong>Observação</strong>: para ver uma lista dos produtos e serviços do Google Cloud, clique no <strong>Menu de navegação</strong> no canto superior esquerdo.
<img src="img/console_topbar_menu.png" alt="Ícone do menu de navegação">
</ql-infobox>
