<h3>Laboratuvarınızı başlatma ve Google Cloud Console'da oturum açma</h3>
<ol>
<li>
<p><strong>Laboratuvarı Başlat</strong> düğmesini tıklayın. Laboratuvar için ödeme yapmanız gerekiyorsa ödeme yöntemini seçebileceğiniz bir pop-up açılır.
Soldaki <strong>Laboratuvar Ayrıntıları</strong> panelinde şunlar yer alır:</p>
<ul>
<li><strong>Google Console'u Aç</strong> düğmesi</li>
<li>Kalan süre</li>
<li>Bu laboratuvarda kullanmanız gereken geçici kimlik bilgileri</li>
<li>Bu laboratuvarda ilerlemek için gerekebilecek diğer bilgiler</li>
</ul>
</li>
<li>
<p><strong>Google Console'u Aç</strong>'ı tıklayın.
Laboratuvar, kaynakları çalıştırır ve sonra <strong>Oturum aç</strong> sayfasını gösteren başka bir sekme açar.</p>
<p><strong><em>İpucu:</em></strong> Sekmeleri ayrı pencerelerde, yan yana açın.</p>
 <ql-infobox>
 <strong>Not: </strong><strong>Hesap seçin</strong> iletişim kutusunu görürseniz <strong>Başka Bir Hesap Kullan</strong>'ı tıklayın.        
 </ql-infobox>
</li>
<li>
<p>Gerekirse <strong>Laboratuvar Ayrıntıları</strong> panelinden <strong>Kullanıcı adı</strong>'nı kopyalayın ve <strong>Oturum aç</strong> iletişim kutusuna yapıştırın. <strong>Sonraki</strong>'ni tıklayın.</p>
</li>
<li>
<p><strong>Laboratuvar Ayrıntıları</strong> panelinden <strong>Şifre</strong>'yi kopyalayın ve <strong>Hoş geldiniz</strong> iletişim penceresine yapıştırın. <strong>Sonraki</strong>'ni tıklayın.</p>
 <ql-infobox> 
 <strong>Önemli: </strong>Sol paneldeki kimlik bilgilerini kullanmanız gerekir. Google Cloud Öğrenim Merkezi kimlik bilgilerinizi kullanmayın. 
 </ql-infobox>
 <ql-warningbox>
 <strong>Not: </strong>Bu laboratuvarda kendi Google Cloud hesabınızı kullanabilmek için ek ücret ödemeniz gerekebilir.
 </ql-warningbox>
</li>
<li>
<p>Sonraki sayfalarda ilgili düğmeleri tıklayarak ilerleyin:</p>
<ul>
<li>Şartları ve koşulları kabul edin.</li>
<li>Geçici bir hesap kullandığınızdan kurtarma seçenekleri veya iki faktörlü kimlik doğrulama eklemeyin.</li>
<li>Ücretsiz denemelere kaydolmayın.</li>
</ul>
</li>
</ol>
<p>Birkaç saniye sonra Cloud Console bu sekmede açılır.</p>
<ql-infobox>
<strong>Not:</strong> Soldaki <strong>Gezinme menüsü</strong>'nü tıklayarak Google Cloud ürün ve hizmetlerinin listelendiği menüyü görüntüleyebilirsiniz.
<img src="img/console_topbar_menu.png" alt="Gezinme menüsü simgesi">
</ql-infobox>
