<h3>Як почати виконувати практичну роботу й увійти в Google Cloud Console</h3>
<ol>
<li>
<p>Натисніть кнопку <strong>Start Lab (Почати практичну роботу)</strong>. Якщо за практичну роботу необхідно заплатити, відкриється спливаюче вікно, де ви зможете обрати спосіб оплати.
Ліворуч розміщено панель <strong>Lab Details (Відомості про практичну роботу)</strong> з такими даними:</p>
<ul>
<li>кнопка <strong>Open Google Console (Відкрити Google Console)</strong>;</li>
<li>час до закінчення;</li>
<li>тимчасові облікові дані, які потрібно використовувати для доступу до цієї практичної роботи;</li>
<li>інша необхідна для виконання цієї практичної роботи інформація.</li>
</ul>
</li>
<li>
<p>Натисніть <strong>Open Google Console (Відкрити Google Console)</strong>.
Завантажаться необхідні ресурси. Потім відкриється нова вкладка зі сторінкою <strong>Sign in (Вхід)</strong>.</p>
<p><strong><em>Порада.</em></strong> Упорядковуйте вкладки в окремих вікнах, розміщуючи їх поруч.</p>
 <ql-infobox>
 <strong>Примітка.</strong> Якщо з’явиться вікно <strong>Choose an account (Виберіть обліковий запис)</strong>, натисніть <strong>Use Another Account (Увійти в інший обліковий запис)</strong>.        
 </ql-infobox>
</li>
<li>
<p>За потреби скопіюйте <strong>Username (Ім’я користувача)</strong> з панелі <strong>Lab Details (Відомості про практичну роботу)</strong> і вставте його у вікні <strong>Sign in (Вхід)</strong>. Натисніть <strong>Next (Далі)</strong>.</p>
</li>
<li>
<p>Скопіюйте <strong>Password (Пароль)</strong> з панелі <strong>Lab Details (Відомості про практичну роботу)</strong> і вставте його у вікні <strong>Welcome (Привітання)</strong>. Натисніть <strong>Next (Далі)</strong>.</p>
 <ql-infobox> 
 <strong>Важливо.</strong> Обов’язково використовуйте облікові дані з панелі ліворуч. Не використовуйте облікові дані Google Cloud Skills Boost. 
 </ql-infobox>
 <ql-warningbox>
 <strong>Примітка.</strong> Якщо ввійти у власний обліковий запис Google Cloud, може стягуватися додаткова плата.
 </ql-warningbox>
</li>
<li>
<p>Виконайте наведені нижче дії.</p>
<ul>
<li>Прийміть Умови використання.</li>
<li>Не додавайте способи відновлення та двохетапну перевірку (оскільки це тимчасовий обліковий запис).</li>
<li>Не реєструйте безкоштовні пробні версії.</li>
</ul>
</li>
</ol>
<p>Через кілька секунд Cloud Console відкриється в новій вкладці.</p>
<ql-infobox>
<strong>Примітка.</strong> Ви можете переглянути меню зі списком продуктів і сервісів Google Cloud, натиснувши <strong>меню навігації</strong> вгорі ліворуч.
<img src="img/console_topbar_menu.png" alt="Значок меню навігації">
</ql-infobox>
