<h3>如何开始实验并登录 Google Cloud 控制台</h3>
<ol>
<li>
<p>点击<strong>开始实验</strong>按钮。如果该实验需要付费，系统会打开一个弹出式窗口供您选择付款方式。左侧是<strong>实验详细信息</strong>面板，其中包含以下各项：</p>
<ul>
<li><strong>打开 Google 控制台</strong>按钮</li>
<li>剩余时间</li>
<li>进行该实验时必须使用的临时凭据</li>
<li>帮助您逐步完成本实验所需的其他信息（如果需要）</li>
</ul>
</li>
<li>
<p>点击<strong>打开 Google 控制台</strong>。
该实验会启动资源并打开另一个标签页，显示<strong>登录</strong>页面。</p>
<p><strong>提示<em></em></strong>：请将这些标签页安排在不同的窗口中，并将它们并排显示。</p>
 <ql-infobox>
 <strong>注意</strong>：如果您看见<strong>选择帐号</strong>对话框，请点击<strong>使用其他帐号</strong>。        
 </ql-infobox>
</li>
<li>
<p>如有必要，请从<strong>实验详细信息</strong>面板复制<strong>用户名</strong>，然后将其粘贴到<strong>登录</strong>对话框中。点击<strong>下一步</strong>。</p>
</li>
<li>
<p>请从<strong>实验详细信息</strong>面板复制<strong>密码</strong>，然后将其粘贴到<strong>欢迎</strong>对话框中。点击<strong>下一步</strong>。</p>
 <ql-infobox> 
 <strong>重要提示</strong>：您必须使用左侧面板中的凭据。请勿使用您的 Google Cloud Skills Boost 凭据。
</ql-infobox>
 <ql-warningbox>
 <strong>注意</strong>：在本次实验中使用您自己的 Google Cloud 帐号可能会产生额外费用。</ql-warningbox>
</li>
<li>
<p>继续在后续页面中点击以完成相应操作：</p>
<ul>
<li>接受条款及条件。</li>
<li>由于该帐号为临时帐号，请勿添加帐号恢复选项或双重验证。</li>
<li>请勿注册免费试用。</li>
</ul>
</li>
</ol>
<p>片刻之后，系统会在此标签页中打开 Cloud 控制台。</p>
<ql-infobox>
<strong>注意</strong>：您可以点击左上角的<strong>导航菜单</strong>来查看列有 Google Cloud 产品和服务的菜单。
<img src="img/console_topbar_menu.png" alt="“导航菜单”图标">
</ql-infobox>

