<h3>如何開始研究室及登入 Google Cloud 控制台</h3>
<ol>
<li>
<p>按一下「Start Lab」(開始研究室)<strong></strong> 按鈕。如果研究室會產生費用，畫面中會出現選擇付款方式的彈出式視窗。左側的「Lab Details」(研究室詳細資料)<strong></strong> 面板會顯示下列項目：</p>
<ul>
<li>「Open Google Console」(開啟 Google 控制台)<strong></strong> 按鈕</li>
<li>剩餘時間</li>
<li>必須在這個研究室中使用的暫時憑證</li>
<li>完成這個研究室所需的其他資訊 (如有)</li>
</ul>
</li>
<li>
<p>按一下「Open Google Console」(開啟 Google 控制台)<strong></strong>。接著，研究室會啟動相關資源並開啟另一個分頁，當中會顯示「Sign in」(登入)<strong></strong> 頁面。</p>
<p><strong>提示</strong><em></em>：您可以在不同的視窗中並排開啟分頁。</p>
 <ql-infobox>
<strong>注意事項</strong>：如果頁面中顯示了「Choose an account」(選擇帳戶)<strong></strong> 對話方塊，請按一下「Use Another Account」(使用其他帳戶)<strong></strong>。
 </ql-infobox>
</li>
<li>
<p>如有必要，請複製「Lab Details」(研究室詳細資料)<strong></strong> 面板中的<strong>使用者名稱</strong>，然後貼到「Sign in」(登入)<strong></strong> 對話方塊。按一下「Next」(下一步)<strong></strong>。</p>
</li>
<li>
<p>複製「Lab Details」(研究室詳細資料)<strong></strong> 面板中的<strong>密碼</strong>，然後貼到「Welcome」(歡迎使用)<strong></strong> 對話方塊。按一下「Next」(下一步)<strong></strong>。</p>
 <ql-infobox>
<strong>重要注意事項</strong>：請務必使用左側面板中的憑證，而非 Google Cloud 技能重點加強的憑證。
 </ql-infobox>
<ql-warningbox>
<strong>注意事項</strong>：如果使用自己的 Google Cloud 帳戶來進行這個研究室，可能會產生額外費用。
 </ql-warningbox>
</li>
<li>
<p>按過後續的所有頁面：</p>
<ul>
<li>接受條款及細則。</li>
<li>由於這是臨時帳戶，請勿新增救援選項或雙重驗證機制。</li>
<li>請勿申請免費試用。</li>
</ul>
</li>
</ol>
<p>Cloud 控制台稍後會在這個分頁中開啟。</p>
<ql-infobox>
<strong>注意事項</strong>：按一下畫面左上方的<strong>導覽選單</strong>，即可在選單中查看 Google Cloud 產品與服務的清單。<img src="img/console_topbar_menu.png" alt="「導覽選單」圖示">
</ql-infobox>
