<h2>Lab beenden</h2>
<p>Wenn Sie das Lab abgeschlossen haben, klicken Sie auf <strong>Lab beenden</strong>. Qwiklabs entfernt daraufhin die von Ihnen genutzten Ressourcen und bereinigt das Konto.</p>
<p>Anschließend erhalten Sie die Möglichkeit, das Lab zu bewerten. Wählen Sie die entsprechende Anzahl von Sternen aus, schreiben Sie einen Kommentar und klicken Sie anschließend auf <strong>Senden</strong>.</p>
<p>Die Anzahl der Sterne hat folgende Bedeutung:</p>
<ul>
<li>1 Stern = Sehr unzufrieden</li>
<li>2 Sterne = Unzufrieden</li>
<li>3 Sterne = Neutral</li>
<li>4 Sterne = Zufrieden</li>
<li>5 Sterne = Sehr zufrieden</li>
</ul>
<p>Wenn Sie kein Feedback geben möchten, können Sie das Dialogfeld einfach schließen.</p>
<p>Verwenden Sie für Feedback, Vorschläge oder Korrekturen den Tab <strong>Support</strong>.</p>

