<h2>Finalice su lab</h2>
<p>Cuando haya completado su lab, haga clic en <strong>End Lab</strong>. Qwiklabs quitará los recursos que usó y limpiará la cuenta por usted.</p>
<p>Tendrá la oportunidad de calificar su experiencia en el lab. Seleccione la cantidad de estrellas que corresponda, ingrese un comentario y haga clic en <strong>Submit</strong>.</p>

<p>La cantidad de estrellas indica lo siguiente:</p>
<ul>
<li>1 estrella = Muy insatisfecho</li>
<li>2 estrellas = Insatisfecho</li>
<li>3 estrellas = Neutral</li>
<li>4 estrellas = Satisfecho</li>
<li>5 estrellas = Muy satisfecho</li>
</ul>
<p>Puede cerrar el cuadro de diálogo si no desea proporcionar comentarios.</p>

<p>Para enviar comentarios, sugerencias o correcciones, use la pestaña <strong>Support</strong>.</p>

