<h2>Terminer l'atelier</h2>

<p>Une fois l'atelier terminé, cliquez sur <strong>End Lab</strong> (Terminer l'atelier). Qwiklabs supprime les ressources que vous avez utilisées, puis efface le compte.</p>
<p>Vous avez alors la possibilité de noter votre expérience au cours de l'atelier. Sélectionnez le nombre d'étoiles correspondant à votre note, saisissez un commentaire, puis cliquez sur <strong>Submit</strong> (Envoyer).</p>
<p>Voici à quoi correspond le nombre d'étoiles que vous pouvez attribuer à un atelier :</p>


<ul>
<li>1 étoile = très insatisfait(e)</li>
<li>2 étoiles = insatisfait(e)</li>
<li>3 étoiles = ni insatisfait(e), ni satisfait(e)</li>
<li>4 étoiles = satisfait(e)</li>
<li>5 étoiles = très satisfait(e)</li>
</ul>
<p>Si vous ne souhaitez pas donner votre avis, vous pouvez fermer la boîte de dialogue.</p>

<p>Pour soumettre des commentaires, suggestions ou corrections, veuillez utiliser l'onglet <strong>Support</strong>.</p>
