<h2>Mengakhiri lab Anda</h2>

<p>Setelah Anda menyelesaikan lab, klik <strong>End Lab</strong> (Akhiri Lab). Qwiklabs menghapus resource yang telah Anda gunakan dan menghapus akun.</p>
<p>Anda akan diberi kesempatan untuk menilai pengalaman menggunakan lab. Pilih jumlah bintang yang sesuai, ketik komentar, lalu klik <strong>Kirim</strong>.</p>
<p>Jumlah bintang menunjukkan hal berikut:</p>

<ul>
<li>1 bintang = Sangat tidak puas</li>
<li>2 bintang = Tidak puas</li>
<li>3 bintang = Netral</li>
<li>4 bintang = Puas</li>
<li>5 bintang = Sangat puas</li>
</ul>
<p>Anda dapat menutup kotak dialog jika tidak ingin memberikan masukan.</p>
<p>Untuk masukan, saran, atau koreksi, gunakan tab <strong>Dukungan</strong>.</p>
