
<h2>Terminare il lab</h2>
<p>Una volta completato il lab, fai clic su <strong>Termina lab</strong>. Qwiklabs rimuove le risorse che hai utilizzato ed esegue la pulizia dell'account.</p>

<p>Avrai la possibilità di inserire una valutazione in merito alla tua esperienza. Seleziona il numero di stelle applicabile, inserisci un commento, quindi fai clic su <strong>Invia</strong>.</p>
<p>Il numero di stelle corrisponde alle seguenti valutazioni:</p>
<ul>
<li>1 stella = molto insoddisfatto</li>
<li>2 stelle = insoddisfatto</li>
<li>3 stelle = esperienza neutra</li>
<li>4 stelle = soddisfatto</li>
<li>5 stelle = molto soddisfatto</li>
</ul>
<p>Se non vuoi lasciare un feedback, chiudi la finestra di dialogo.</p>
<p>Per feedback, suggerimenti o correzioni, utilizza la scheda <strong>Assistenza</strong>.</p>
