<h2>Kończenie modułu</h2>

<p>Po ukończeniu modułu kliknij <strong>End Lab</strong> (Zakończ moduł). Qwiklabs usunie wykorzystane zasoby i wyczyści konto.</p>
<p>Po zakończeniu modułu będzie można ocenić związane z nim wrażenia. Wybierz odpowiednią liczbę gwiazdek, wpisz komentarz, a następnie kliknij <strong>Submit</strong> (Prześlij).</p>

<p>Liczba gwiazdek oznacza odpowiednie oceny:</p>
<ul>
<li>1 gwiazdka – bardzo zła,</li>
<li>2 gwiazdki – zła,</li>
<li>3 gwiazdki – neutralna,</li>
<li>4 gwiazdki – dobra,</li>
<li>5 gwiazdek – bardzo dobra.</li>
</ul>
<p>Jeśli nie chcesz dzielić się swoją opinią, możesz zamknąć okno dialogowe.</p>

<p>Jeśli chcesz przesłać swoją opinię, sugestie lub propozycje poprawek, użyj karty <strong>Support</strong> (Pomoc).</p>

