<h2>Terminar o laboratório</h2>
<p>Após terminar seu laboratório, clique em <strong>End Lab</strong>. O Qwiklabs removerá os recursos usados e limpará a conta para você.</p>
<p>Você poderá classificar sua experiência neste laboratório. Basta selecionar o número de estrelas, digitar um comentário e clicar em <strong>Submit</strong>.</p>

<p>O número de estrelas indica o seguinte:</p>
<ul>
<li>1 estrela = muito insatisfeito</li>
<li>2 estrelas = insatisfeito</li>
<li>3 estrelas = neutro</li>
<li>4 estrelas = satisfeito</li>
<li>5 estrelas = muito satisfeito</li>
</ul>
<p>Feche a caixa de diálogo se não quiser enviar feedback.</p>

<p>Para enviar seu feedback, fazer sugestões ou correções, use a guia <strong>Support</strong>.</p>


