<h2>Завершіть практичну роботу</h2>
<p>Закінчивши виконувати практичну роботу, натисніть кнопку <strong>End Lab (Завершити практичну роботу)</strong>. Ваш обліковий запис і використані ресурси буде вилучено з платформи, на якій виконувалася практична робота.</p>
<p>Ви зможете оцінити, наскільки вам сподобалося виконувати практичну роботу на платформі. Виберіть потрібну кількість зірочок, введіть коментар і натисніть <strong>Submit (Надіслати)</strong>.</p>

<p>Кількість зірочок відповідає певній оцінці:</p>
<ul>
<li>1 зірочка = зовсім не сподобалося</li>
<li>2 зірочки = не сподобалося</li>
<li>3 зірочки = не можу сказати напевно</li>
<li>4 зірочки = сподобалося</li>
<li>5 зірочок = дуже сподобалося</li>
</ul>
<p>Якщо ви не хочете надсилати відгук, просто закрийте діалогове вікно.</p>
<p>Залишайте свої відгуки, пропозиції або коментарі на вкладці <strong>Support (Підтримка)</strong>.</p>
